@model Education
@{
    ViewData["Title"] = "UpdateEducation";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>UpdateEducation</h1>

<form method="post">
    <input type="hidden" asp-for="EducationId" />

    <br />
    <label>Degree & Profession</label>
    <input type="text" class="form-control" asp-for="EducationTitle" style="border:1px solid black;" />
    <br />
    <label>University/College</label>
    <input type="text" class="form-control" asp-for="EducationSubtitle" style="border:1px solid black;" />
    <br />
    <label>Education Years</label>
    <input type="text" class="form-control" asp-for="EducationDateInfo" style="border:1px solid black;" />
    <br />
    <label>Education Summary</label>
    <input type="text" class="form-control" asp-for="EducationDescription" style="border:1px solid black;" />
    <br />
    <button class="btn btn-primary">Update Education Info</button>
</form>