
@{
    Layout = null;
}

<section class="d-flex flex-column align-items-center justify-content-center" style="height: 100vh; background: #f5f5f5;">
    <h1 style="font-size: 10rem; color: #0563bb;">404</h1>
    <h2 style="margin-bottom: 20px;">Oops! Page Not Found</h2>
    <a href="/Default/" class="btn btn-primary">Go Back Home</a>
</section>
