@model Message
@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>MessageDetails</h1>
<input type="hidden" asp-for="MessageId" />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Mesaj</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Gönderen @Model.MessageNameSurname - Email:@Model.MessageEmail - Tarix: @Model.MessageSendDate
                            <br />
                            Mesaj: @Model.MessageDetail
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<a href="/Message/Inbox/" class="btn btn-success">Back to Inbox</a>
