
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <label>Adınız Soyadınız</label>
    <input type="text" class="form-control"/>
    <br/>
    <label> Email adresiniz</label>
    <input type="email" class="form-control" />
    <br/>
    <label>Telefon numaraniz</label>
    <input type="tel" class="form-control" />
    <br/>
    <label>Konu</label>
    <input type="text" class="form-control" />
    <br/>
    <label>Mesajiniz</label>
    <textarea rows="5" class="form-control"></textarea>
    <br/>
    <button class="btn btn-info">Mesaji gonder</button>
    </div>
