@model Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Update Category</h1>


<form method="post">
    <input type="hidden" asp-for="CategoryId" />

    <label>Category Name</label>
    <input type="text" class="form-control" asp-for="CategoryName" style="border:1px solid black;" />
    <br />

    <button class="btn btn-primary">Update Category</button>
</form>